.img {
  background-image: url('./images.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 250px;
  margin: 0 auto;
  border-radius: 10px;
}
body {
  background-color: #f0f0d0;
}
